.wrapper-address {
  margin-right: auto;
  margin-left: auto;

  @include for-size(desktop) {
    margin-right: 70px;
  }
}

.address {
  width: 100%;
  margin-bottom: 60px;

  @include for-size(desktop) {
    min-width: 231px;
  }

  &__text,
  &__contacts {
    margin: 0px;
    text-align: center;
    color: getColor("white-color");
    @include font-basis();
    @include font-spacing(1.71);

    @include for-size(desktop) {
      text-align: left;
    }
  }
  &__contacts {
    display: block;
    color: getColor("f-contacts-color");
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
