.contacts {
  margin-left: auto;
  @include for-size(desktop) {
    @include flexbox();
  }

  &__link {
    color: getColor("primary-text-color");

    @include font-basis(1.8rem, 500);
    @include font-spacing(1.17, 0.02em);

    @include for-size(tablet) {
      justify-content: start;
      @include font-basis(1.2rem, 500);
      @include font-spacing($main-line-height, 0.02em);
    }
    @include for-size(desktop) {
      padding: 3.2rem 0;
      @include font-basis($main-fs, 500);
      @include font-spacing($main-line-height, 0.02em);
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &__item:not(:last-child) {
    @include for-size(desktop) {
      margin-right: 50px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
