.header .container {
  @media screen and (max-width: 767px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include for-size(tablet) {
    @include flexbox();
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: getColor("white-color");
    border-top: 1px solid getColor("line-color");
    padding: 6rem 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    opacity: 0;
    pointer-events: none;
    transition: $transition-duration $timing-function $transition-duration;
    transform: translateY(-100%) scale(0.8);

    &.is-open {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0) scale(1);
      z-index: 50;
      position: fixed;
    }
  }

  @include for-size(tablet) {
    @include flexbox();
    width: 100%;
  }
}

.menu-button {
  @include flexbox();
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  &:hover .icon-menu,
  &:focus .icon-menu,
  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: getColor("accent-color");
    cursor: pointer;
  }

  @include for-size(tablet) {
    display: none;
  }
}

.icon-menu {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

.icon-cross {
  width: 19px;
  height: 19px;
  fill: currentColor;
  opacity: 0;
}

.menu-button {
  &.is-open .icon-cross {
    opacity: 1;
  }
  &.is-open .icon-menu {
    opacity: 0;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    @include flexbox();
    flex-direction: column;
    margin-bottom: 6rem;
  }
}

.nav__list {
  @include for-size(tablet) {
    @include flexbox();
  }
}
.nav__link {
  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 0.8rem 0;
  }
  @include font-basis(1.8rem, 500);
  @include font-spacing(1.17, 0.02em);
  color: getColor("title-text-color");
  position: relative;
  display: block;
  padding: 3.2rem 0;

  @include for-size(tablet) {
    @include font-basis($main-fs, 500);
    @include font-spacing($main-line-height, 0.02em);
  }

  &:hover,
  &:focus {
    color: getColor("accent-color");
  }

  &.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: getColor("accent-color");
  }
}

.nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @include for-size(tablet) {
    margin-right: 50px;
  }
}
