.features {
  padding: 6rem 0;

  @include for-size(desktop) {
    padding-top: 9.4rem;
  }

  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    @include font-basis($main-fs, $bold-fw);
    @include font-spacing($main-line-height, $main-let-space);
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    color: getColor("title-text-color");
  }

  &__text {
    margin: 0px;
    @include font-basis($main-fs, $main-fw);
    @include font-spacing(1.71, $main-let-space);
    color: getColor("primary-text-color");
  }
}

.features__item {
  margin: 15px;

  @include for-size(tablet) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @include for-size(desktop) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.features__list {
  margin: -15px;

  @include for-size(tablet) {
    @include flexbox(center, stretch);
    flex-wrap: wrap;
  }

  .features__icon {
    width: 70px;
    height: 70px;

    &-bcg {
      width: 100%;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: getColor("decoration-bg-color");
    }
  }
}
