.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: getColor("white-color");
  border-bottom: 1px solid getColor("line-color");
  min-height: 60px;

  @include for-size(tablet) {
    min-height: 80px;
  }

  // @include for-size(desktop) {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 100;
  //   min-height: 80px;
  // }
}

.header .container {
  @media screen and (max-width: 1199px) {
    @include flexbox(space-between);
  }
}
